.home-bg {
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.3)),
        url("/images/admissionSystem2.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    margin-left: calc(50% - 50vw);
    min-height: 100vh;

    color: white;
    padding-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
